.App {
    text-align: center;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Bigelow Rules', cursive;
    font-size: 72px;
    color: #0ccac4;
    text-align: center;
}